<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<conversionRule conversionWord="loglvl" converterClass="uk.gov.ea.datareturns.util.LogHighlightingConverter"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%white(%d{HH:mm:ss.SSS}) %loglvl(%-5level %40.40logger{35}): %boldWhite(%msg) %n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/datareturns.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>log/datareturns.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>15MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %loglvl(%-5level %40.40logger{35}): %boldWhite(%msg) %n</pattern>
		</encoder>
	</appender>

	<appender name="ERRBIT" class="net.anthavio.airbrake.AirbrakeLogbackAppender">
		<apiKey>${errbit.api.key}</apiKey>
		<env>${errbit.env}</env>
		<enabled>${errbit.enabled}</enabled>
		<url>${errbit.url}</url>
		<!-- Notify all log events even if they do not contain an instance of Throwable -->
		<notify>ALL</notify>
		<!-- Only log errors -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
		<appender-ref ref="ERRBIT"/>
	</root>
</configuration>