<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<booleanAttribute key="M2_DEBUG_OUTPUT" value="false"/>
<stringAttribute key="M2_GOALS" value="liquibase:dropAll"/>
<booleanAttribute key="M2_NON_RECURSIVE" value="false"/>
<booleanAttribute key="M2_OFFLINE" value="false"/>
<stringAttribute key="M2_PROFILES" value=""/>
<listAttribute key="M2_PROPERTIES">
<listEntry value="liquibasePropertyFile=${workspace_loc:/data-returns-data-exchange/external_resources/db/changelog/liquibase_local.properties}"/>
<listEntry value="driver=org.postgresql.Driver"/>
<listEntry value="url=jdbc:postgresql://localhost:5432/data_returns"/>
<listEntry value="username=data_returns_owner"/>
<listEntry value="password=data_returns_owner"/>
</listAttribute>
<stringAttribute key="M2_RUNTIME" value="EMBEDDED"/>
<booleanAttribute key="M2_SKIP_TESTS" value="false"/>
<intAttribute key="M2_THREADS" value="1"/>
<booleanAttribute key="M2_UPDATE_SNAPSHOTS" value="false"/>
<stringAttribute key="M2_USER_SETTINGS" value=""/>
<booleanAttribute key="M2_WORKSPACE_RESOLUTION" value="false"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${project}"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="DR_DATABASE_DRIVER_CLASS" value="org.postgresql.Driver"/>
<mapEntry key="DR_DATABASE_PASSWORD" value="data_returns_owner"/>
<mapEntry key="DR_DATABASE_URL" value="jdbc:postgresql://localhost:5432/data_returns"/>
<mapEntry key="DR_DATABASE_USER" value="data_returns_owner"/>
<mapEntry key="DR_MONITOR_PRO_BODY_MESSAGE" value="Data Returns Import file received"/>
<mapEntry key="DR_MONITOR_PRO_EMAIL_TO" value="import@monitorpro.com"/>
<mapEntry key="DR_MONITOR_PRO_EMAIl_FROM" value="data_returns@environment-agency.gov.uk"/>
<mapEntry key="DR_MONITOR_PRO_HOST" value="localhost"/>
<mapEntry key="DR_MONITOR_PRO_PORT" value="1025"/>
<mapEntry key="DR_MONITOR_PRO_SUBJECT" value="EA_TEST_ENVIRONMENT"/>
<mapEntry key="DR_MONITOR_PRO_TLS" value="false"/>
<mapEntry key="DR_REDIS_HOST" value="localhost"/>
<mapEntry key="DR_REDIS_PORT" value="6379"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:/data-returns-data-exchange}"/>
</launchConfiguration>
