<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/data-returns-data-exchange/src/test/java/uk/gov/ea/datareturns/suite/AllTests.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="DR_DATABASE_DRIVER_CLASS" value="org.postgresql.Driver"/>
<mapEntry key="DR_DATABASE_PASSWORD" value="data_returns_owner"/>
<mapEntry key="DR_DATABASE_URL" value="jdbc:postgresql://localhost:5432/data_returns"/>
<mapEntry key="DR_DATABASE_USER" value="data_returns_owner"/>
<mapEntry key="DR_MONITOR_PRO_BODY_MESSAGE" value="Data Returns Import file received"/>
<mapEntry key="DR_MONITOR_PRO_EMAIL_TO" value="import@monitorpro.com"/>
<mapEntry key="DR_MONITOR_PRO_EMAIl_FROM" value="data_returns@environment-agency.gov.uk"/>
<mapEntry key="DR_MONITOR_PRO_HOST" value="localhost"/>
<mapEntry key="DR_MONITOR_PRO_PORT" value="1025"/>
<mapEntry key="DR_MONITOR_PRO_SUBJECT" value="EA_TEST_ENVIRONMENT"/>
<mapEntry key="DR_MONITOR_PRO_TLS" value="false"/>
<mapEntry key="DR_REDIS_HOST" value="localhost"/>
<mapEntry key="DR_REDIS_PORT" value="6379"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="com.mountainminds.eclemma.ui.launchGroup.coverage"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="true"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uk.gov.ea.datareturns.suite.AllTests"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="data-returns-data-exchange"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DconfigFile=${workspace_loc:/data-returns-data-exchange/external_resources/config/configuration_local.yml}"/>
</launchConfiguration>